<div class="container">
  <h2 mat-dialog-title>Entre afro et paradisiaque</h2>
  <mat-dialog-content>Un brin excitant, je suis également rafraichissant !</mat-dialog-content>
  <mat-dialog-actions>
    <div class="answer-container">
      <button class="aconit" mat-button (click)="wrongAnswer()">Aconit</button>
      <button mat-button (click)="wrongAnswer()">Citron vert</button>
    </div>
    <div class="answer-container">
      <button class="reglisse"mat-button (click)="wrongAnswer()">Réglisse</button>
      <button mat-button mat-dialog-close="true">Gingembre</button>
    </div>
  </mat-dialog-actions>
  <div id="first-h1" class="wrongMessage" *ngIf="wrongMessage">
    C'est non.
  </div>
</div>
