<div class="explanation">
  <h1 id="first-h1">Joyeux anniversaire mon frère !</h1>
  <p id="first-p">Tu me connais à force : <span class="bold-text">on n'a rien sans rien.</span> Alors... comme à la presque accoutumée, tu vas devoir <span class="bold-text">deviner ton cadeau d'anniversaire !</span></p>
  <p id="second-p">Pour avoir accès aux devinettes, tu vas d'abord devoir répondre correctement à 5 questions</p>
  <p id="third-p">Clique sur la première pour démarrer <br> eeeet Zéé Bartii !!</p>

  <div class="question">
    <button id="question" mat-raised-button (click)="openDialog()">Première question</button>
    <div *ngIf="toggle">
      <p>Ca démarre bien !</p>
    </div>
  </div>
  <div>
    <div class="question">
      <div *ngIf="toggle">
        <button id="question-suit" mat-raised-button (click)="openDialog2()">Seconde question</button>
      </div>
      <div *ngIf="toggle2" >
        <p>Tu es sur la bonne voie... !</p>
      </div>
    </div>
  </div>
  <div class="question">
    <div *ngIf="toggle2">
      <button id="question-suit" mat-raised-button (click)="openDialog3()">Troisième question</button>
    </div>
    <div *ngIf="toggle3">
      <p>3 in a row !!</p>
    </div>
  </div>
  <div class="question">
    <div *ngIf="toggle3">
      <button id="question-suit" mat-raised-button (click)="openDialog4()">Quatrième question</button>
    </div>
    <div *ngIf="toggle4">
      <p>Cet homme est inarrêtable</p>
    </div>
  </div>
  <div class="question">
    <div *ngIf="toggle4">
      <button id="question-suit" mat-raised-button (click)="openDialog5()">Cinquième question</button>
      <a pageScroll href="#congrats"><img class="scroll-img" src="https://image.flaticon.com/icons/png/512/130/130881.png"></a>
    </div>
  </div>
  <div id="congrats" class="first-guess" *ngIf="toggle5">
    <h2 id="first-h1" >BRAVO !</h2>
    <p id="suit-random-one">Tu as su répondre aux 5 questions.</p>
    <h1 id="suit-random-two">Place maintenant à la devinette</h1>
    <div id="suit-random-three" class="quote-container">
      <img class="quote" src="https://image.flaticon.com/icons/png/512/59/59260.png">
    </div>
    <div id="suit-random-three">
      <p>Mon premier orne le visage des messieurs lors du Movembre, sans être mou ;
      <p>
      <p>Mon second est une particule qui compose les noms de Nobles ;</p>
      <p>Mon troisième à une chance sur deux de se voiler la face ;</p>
      <p>Mon quatrième est rempli de cadeaux rouges et blancs à distribuer ;</p>
      <p>Mon cinquième désigne en 3 lettres ton temps passé sur Terre.</p>
    </div>
      <div>
    <div id="suit-random-four" class="quote-container">
      <img class="quote end" src="https://image.flaticon.com/icons/png/512/56/56826.png">
    </div>
      <div id="suit-random-five" class="search-container">
        <input type="text" placeholder="Ta réponse ?" [(ngModel)]="answer">
        <a pageScroll href="#try"><button class="search" (click)="sendGuessAnswer(answer)">Je tente !</button></a>
      </div>
      <div id="try" class="wrongMessage" *ngIf="toggle8FirstBadAnswer">
        C'est non.
      </div>
    </div>
  </div>
  <div id="try" class="first-guess" *ngIf="toggle6SecondGuess">
    <h2 id="first-h1">TOP !</h2>
    <p id="suit-random-one">Tu as su répondre à la première devinette.</p>
    <h1 id="suit-random-two">Voici la seconde...</h1>
    <div id="suit-random-three" class="quote-container">
      <img class="quote" src="https://image.flaticon.com/icons/png/512/59/59260.png">
    </div>
    <div id="suit-random-three">
      <p>Mon premier vient entre autres des abeilles ;
      <p>
      <p>Mon second déteste le cru ;</p>
      <p>Mon troisième doit quelque chose à quelqu'un. Il a un ... envers lui ;</p>
      <p>Mon quatrième n'est pas uniquement connu que pour ses rillettes...</p>
    </div>
    <div>
    <div id="suit-random-four" class="quote-container">
      <img class="quote end" src="https://image.flaticon.com/icons/png/512/56/56826.png">
    </div>
      <div id="suit-random-five" class="search-container">
        <input type="text" placeholder="Ta réponse ?" [(ngModel)]="answer2">
        <a pageScroll href="#reveal"><button class="search" (click)="sendGuessAnswerTwo(answer2)">J'ose !</button></a>
      </div>
      <div id="reveal" class="wrongMessage" *ngIf="toggle9SecondBadAnswer">
        C'est non.
      </div>
    </div>
  </div>
  <div id="reveal" class="icons" *ngIf="toggle7Reveal">
    <h2 id="first-h1">Félicitations !</h2>
    <p id="suit-random-one">Mais alors ça veut dire quoi tout ça ?</p>
    <p id="suit-random-two">Ca signifie que tu vas pouvoir piloter....</p>
    <div  id="suit-random-six" class="reveal">
      <div class="img-reveal-container">
        <img src="https://image.flaticon.com/icons/png/512/37/37425.png">
      </div>
      <p>Sur 1,9Km du circuit du Mans</p>
    </div>
    <div id="suit-random-seven" class="reveal">
      <div class="img-reveal-container">
        <img src="https://image.flaticon.com/icons/png/512/100/100230.png">
      </div>
        <p>en Audi R8 V10 de 540ch</p>
    </div>
    <div id="suit-random-eight" class="reveal">
      <div class="img-reveal-container">
        <img src="https://image.flaticon.com/icons/png/512/124/124889.png">
      </div>
        <p>Durant 5 tours ! <br>(Tu as 1 an pour choisir une date)</p>
    </div>
    <div id="suit-random-nine" class="h-b">
      <h1>Joyeux anniversaire frérot !!</h1>
    </div>
  </div>
